.suggestionForm {
    border: 2px solid rgb(255, 255, 255);
    padding: 5px;
    min-width:fit-content;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 1);
}
.formLabel {
    width: 250px;
    display: inline-block;
    font-size: 22px;
    padding: 5px;
}
.form_textbox {
    width: 350px;
    font-size: 22px; 
}
.form_dropdown {
    width: 350px;
    font-size: 18px;
}
.requiredIndicator {
    color: red;
    font-size: 24px;
}
.requiredHighlight {
    background-color: #ffff00;
}
.requiredBox {
    border: 2px solid #ffff00;
}

