.background{
    /* background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover; */
    background-color: rgb(255, 255, 255);
    margin-left: 0px;
    margin-top:9em;
}
.logo{
    height: auto; 
    width: auto; 
    max-height: 6em;
	/* box-shadow: inset 0 5px 10px 0 rgba(0, 0, 0, 0.5); */
}
.rcorners {
     border-radius: 25px;
    /*background: #323f52;
    width: 90%;
    margin: auto; */
  }
#header{
    font-size: xx-large;
    font-family: Verdana ;
    color:rgb(0, 0, 0);
}
#topNav{
    position: fixed;
    top: 0;
    width: 100%;
    /* border-radius: 10px; */
    padding-bottom: 1.25em;
    padding-top: .5em;
    /* position:; */
    margin-top:auto;
}
ul {
    list-style-type:none;
    background-color: rgb(255, 255, 255);
    border: 5px black;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
	/* box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1); */
  }
li {
    float:left;
    font: black;
    padding-right:2.25em;
    /* paddin 0.5em;em;
    padding-bottom: .75em;*/
}
li a {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.35);
    display: grid;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-decoration: none;
}
li a:hover {
    background-color: rgb(218, 218, 218);
    border-radius: 25px;
    border:1px solid rgb(255, 255, 255);
    border-radius: 25px;
	box-shadow: inset 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}
#topButtonSpacing{
    padding-top: 2.5em;
}
.grid{
    display:grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1;
}
.gridItems{
	background-color: rgba(255, 255, 255, 0.8);
	border: 2px solid rgba(0, 0, 0, 0.8);
	padding: 5px;
	font-size: 20px;
	text-align: center;
	border-radius: .4em;
}
.mainContent{
margin: 2em;
}
.mainPageBackground{
    margin-left: 0px;
}
.roadmapImage{
    padding-left: 1em;
    width: 1400px;
    height: 2300px;
}
.devPageStyles{
    padding-top: 2em;
    padding-left: 3em;
    padding-right: 3em;
    font-size: 22px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#startingName{
    font-size: 35px;
    color: rgb(0, 0, 0);
    font-weight: lighter;
}
/* ------------------------------------------------------- */
/*                        FORM STYLING                     */
/* ------------------------------------------------------- */

.suggestionForm {
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
    min-width:fit-content;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 1);
}
.formLabel {
    width: 250px;
    display: inline-block;
    font-size: 20px;
    padding-right: 40px;
    padding-left: 20px;
}
.formTextbox {
    width: 350px;
    font-size: 18px; 
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}
.formTextbox:hover{
	box-shadow: inset 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}
.formTextbox:focus{
	box-shadow: inset 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}
.formDropdown {
    width: 350px;
    font-size: 15px; 
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}
.formDropdown:hover{
    box-shadow: inset 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}
.requiredIndicator {
    color: red;
    font-size: 24px;
}
.requiredHighlight {
    background-color: #ffff00;
}
.requiredBox {
    border: 2px solid #ffff00;
}
.termsBox{
    font-size: 20px;
}
.submitButton{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.35);
    display: grid;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 17px;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-decoration: none;
}
.submitButton:hover{
    background-color: rgb(218, 218, 218);
    border-radius: 25px;
    border:1px solid rgb(255, 255, 255);
    border-radius: 25px;
	box-shadow: inset 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}
