.background{
    background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
.logo{
    background-image: url('images/RainDropLogo.jpg');
}
#rcorners {
    border-radius: 25px;
    /* border-color: #848e9c;
    border-width: 10px; */
    background: #323f52;
    padding: 20px;
    width: 500px;
    height: 150px;
    margin: auto;
  }
#header{
    font-size: xx-large;
    font-family: Verdana ;
    color:white;
}
ul {
    
    list-style-type: none;
    font-size: x-large;
    margin: 3%;
    padding: 10px;
    overflow: hidden;
    background-color: #333;
    
  }
li {
    float:left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 50px 50px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}